/* style_mobile.css */

@media (max-width: 640px) {
  * {
    box-sizing: border-box;
  }

  body {
    width: auto;
    margin: 0;
    padding: 0;
  }

  input {
    max-width: 100%;
  }
}

/* harmoniously reduce all font sizes in landscape orientation*/

@media (max-device-width:768px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}