/* GENERAL */

.filters, .todo-count, .clear-completed {
  padding: 0.5em 0;
}

.filters li a, .filters a:active, .filters a:hover {
  padding: 0.5rem 1rem !important;
}

.selected, .filters a:hover {
  border: 1px solid rgb(96, 79, 248) !important;
}

.filters a:hover {
  background-color: rgb(96, 79, 248) !important;
  color: #FFF !important;
}

.footer {
  min-height: 40px;
}
/* style_mobile.css */

@media (max-width: 430px) {
  .filters {
    bottom: 0.75em;
  }

  .filters li a {
    padding: 0.5rem 1rem;
  }

  .footer {
    height: 72px;
  }

  .new-todo, .new-todo::placeholder, .edit, .view label {
    font-size: 22px !important;
  }

@media (max-width: 640px) {
  body {
    width: auto;
    margin: 0;
    padding: 0;
  }

  input {
    max-width: 98%;
  }

  .todo-count_mobile {
    display: block;
  }
}

/* harmoniously reduce all font sizes in landscape orientation*/

@media (max-device-width:768px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}