desktop.ini
.DS_Store
.idea
*.log
node_modules
node_modules/todomvc-app-css
!node_modules/todomvc-app-css/index.css

node_modules/todomvc-common
!node_modules/todomvc-common/base.js
!node_modules/todomvc-common/base.css

p8_NOTES.VSC.rtf
